* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


* img {
    max-width: 100%;
    height: auto;
}

/*==HEADER==*/

.navbar {
    width: 100%;
    z-index: 1;
    height: 66px;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 0 8px 0 8px;
}

.navbar-brand, .nav-link  {
    color: white !important;
}
  
.nav-link {
    margin: 0 18px 0 18px ;
}


.nav-link:hover {
    color: #cb9f6b !important;
}

.navbar-nav {
    margin-right: 0 !important;
    margin-left: 278.969px !important;
}

.nav-item a {
    padding: 0 !important;
}

.last_ni {
    margin-right: 0 !important;
}

#header {
    width: 100%;
    height: auto;
}
.navbar {
    z-index: 999;
}

.carousel-item img {
    width: 100% !important;
    height: auto !important; 
}
.collapse {
    position: relative !important;
}

.navbar-nav {
    position: absolute !important;
    right: 0;
}

.navbar li a:hover {
    border-bottom: 1px solid #cb9f6b;
}

.navbar button {
    background: #cb9f6b;
    border: 1px solid #cb9f6b;
}

.navbar-brand {
    padding: 0 !important;
    font-size: 30px;
    margin-left: 15px;
    font-family: 'Pacifico', cursive;
}

#banner {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
}

#banner_title {
    font-size: 22px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'Pacifico', cursive;    
}

#banner h1 {
    font-size: 40px;
    color: #cb9f6b;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);  
}


@media only screen and (max-width: 990px) {
    .navbar-nav {
        width: 100%;
        text-align: center;
        background: rgba(0,0,0,0.8);
        margin: 7px;
        border-top: 2px solid white;
    }

    .nav-item {
        margin: 5px;
    }
}

@media only screen and (max-width: 990px) {
    #banner img {
        width: 100%;
        height: 250px;
    }

    #banner h1 {
        font-size: 40px;
        color: #cb9f6b;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

@media only screen and (max-width: 990px) {
    #banner_title {
        font-size: 18px;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-family: 'Pacifico', cursive;    
    }
    
    #banner h1 {
        font-size: 30px;
        color: #cb9f6b;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); 
    }
}

/*==contact==*/
#contact {
    width: 100%;
    height: auto;
    text-align: center;
    background: url('../image/about-image/about-bg.png');
}


#contact_first_img {
    margin-bottom: 50px;
}

#main_contact {
    background: url('../image/letter/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
}

.main_contact_content {
    font-size: 25px;
    color: #cb9f6b;
}

.main_contact_other {
    font-size: 20px;
    color: black;
}

.other_main_content {
    color:  black;
    font-size: 20px;
    padding-top: 130px;
}