* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


* img {
    max-width: 100%;
    height: auto;
}

.choose {
    color: white !important;
    background: #cb9f6b;
}
/*==HEADER==*/

.navbar {
    width: 100%;
    z-index: 1;
    height: 66px;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 0 8px 0 8px;
}

.navbar-brand, .nav-link  {
    color: white !important;
}
  
.nav-link {
    margin: 0 18px 0 18px ;
}


.nav-link:hover {
    color: #cb9f6b !important;
}

.navbar-nav {
    margin-right: 0 !important;
    margin-left: 278.969px !important;
}

.nav-item a {
    padding: 0 !important;
}

.last_ni {
    margin-right: 0 !important;
}

#header {
    width: 100%;
    height: auto;
}
.navbar {
    z-index: 999;
}

.carousel-item img {
    width: 100% !important;
    height: auto !important; 
}
.collapse {
    position: relative !important;
}

.navbar-nav {
    position: absolute !important;
    right: 0;
}

.navbar li a:hover {
    border-bottom: 1px solid #cb9f6b;
}

.navbar button {
    background: #cb9f6b;
    border: 1px solid #cb9f6b;
}

.navbar-brand {
    padding: 0 !important;
    font-size: 30px;
    margin-left: 15px;
    font-family: 'Pacifico', cursive;
}

#banner {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
}

#banner_title {
    font-size: 22px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'Pacifico', cursive;    
}

#banner h1 {
    font-size: 40px;
    color: #cb9f6b;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);  
}


@media only screen and (max-width: 990px) {
    .navbar-nav {
        width: 100%;
        text-align: center;
        background: rgba(0,0,0,0.8);
        margin: 7px;
        border-top: 2px solid white;
    }

    .nav-item {
        margin: 5px;
    }
}

@media only screen and (max-width: 990px) {
    #banner img {
        width: 100%;
        height: 250px;
    }

    #banner h1 {
        font-size: 40px;
        color: #cb9f6b;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

@media only screen and (max-width: 990px) {
    #banner_title {
        font-size: 18px;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-family: 'Pacifico', cursive;    
    }
    
    #banner h1 {
        font-size: 30px;
        color: #cb9f6b;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); 
    }
}

/*==menu==*/

#menu {
    padding: 70px;
    box-sizing: border-box;
}

.menu_title {
    text-align: center;
    font-size: 40px;
    color: black;
    margin-bottom: 50px;
    font-family: 'Pacifico', cursive;
}

.main_menu_content {
    position: relative;
}

.menu_content{
    margin: 10px;
}

.main_menu_content_title a {
    font-size: 18px;
    color: black;
    text-decoration: none;

}

.price {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
}

.cart {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 13px;  
    background: #cb9f6b;
    padding: 5px;
    cursor: pointer;
}

/*==Breakfast==*/

#breakfast {
    padding: 70px;
    box-sizing: border-box;
    background: url('../image/about-image/about-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#breakfast_title {
    text-align: center;
    font-size: 40px;
    color: black;
    margin-bottom: 50px;
    font-family: 'Pacifico', cursive;
}

.main_breakfast_content {
    position: relative;
}

.breakfast_content{
    margin: 10px;
}

.main_breakfast_content_title a {
    font-size: 18px;
    color: black;
    text-decoration: none;

}

.breakfast_price {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
}

.breakfast_cart {
    position: absolute;
    bottom: 17px;
    right: 0;
    font-size: 13px;  
    background: #cb9f6b;
    padding: 5px;
    cursor: pointer;
}

.button {
    text-align: center !important;
    margin-bottom: 20px;
}

.button a {
    border: 2px solid #cb9f6b;
    color: white;
    background: #cb9f6b;
    padding: 8px 15px;
    margin: 3px;
}

.button a:hover {
    background: #cb9f6b;
    color: white;
}

#main_breakfast_content {
    display: flex;
    flex-wrap: wrap;
}

.conten_iso {
    width: 45%;
    margin: 25px;
}

@media only screen and (max-width: 414px) {
    .conten_iso {
        width: 100%;
        margin: 25px;
    }
}

@media only screen and (max-width: 320px) {
    .conten_iso {
        width: 100%;
        margin: 25px;
    }
}

/*==lunch==*/

#lunch {
    padding: 70px;
    box-sizing: border-box;
}    

#lunch_title {
    text-align: center;
    font-size: 40px;
    color: black;
    margin-bottom: 50px;
    font-family: 'Pacifico', cursive;
}

.lunch_conten_iso {
    position: relative;
}

.lunch_content{
    margin: 10px;
}

.main_lunch_content_title a {
    font-size: 18px;
    color: black;
    text-decoration: none;

}

.lunch_price {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
}

.lunch_cart {
    position: absolute;
    bottom: 17px;
    right: 0;
    font-size: 13px;  
    background: #cb9f6b;
    padding: 5px;
    cursor: pointer;
}

.lunch_button {
    text-align: center !important;
    margin-bottom: 20px;
}

.lunch_button a {
    border: 2px solid #cb9f6b;
    color: white;
    background: #cb9f6b;
    padding: 8px 15px;
    margin: 3px;
}

.main_lunch_content {
    display: flex;
    flex-wrap: wrap;
}

.lunch_conten_iso {
    width: 45%;
    margin: 25px;
}

@media only screen and (max-width: 414px) {
    .lunch_conten_iso {
        width: 100%;
        margin: 25px;
    }
}

@media only screen and (max-width: 320px) {
    .lunch_conten_iso {
        width: 100%;
        margin: 25px;
    }
}

/*==dinner==*/

#dinner {
    padding: 70px;
    box-sizing: border-box;
    background: url('../image/about-image/about-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}    

#dinner_title {
    text-align: center;
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    color: black;
    margin-bottom: 50px;
}

.dinner_conten_iso {
    position: relative;
}

.dinner_content{
    margin: 10px;
}

.main_dinner_content_title a {
    font-size: 18px;
    color: black;
    text-decoration: none;

}

.dinner_price {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
}

.dinner_cart {
    position: absolute;
    bottom: 17px;
    right: 0;
    font-size: 13px;  
    background: #cb9f6b;
    padding: 5px;
    cursor: pointer;
}

.dinner_button {
    text-align: center !important;
    margin-bottom: 20px;
}

.dinner_button a {
    border: 2px solid #cb9f6b;
    color: white;
    background: #cb9f6b;
    padding: 8px 15px;
    margin: 3px;
}

.main_dinner_content {
    display: flex;
    flex-wrap: wrap;
}

.dinner_conten_iso {
    width: 45%;
    margin: 25px;
}

@media only screen and (max-width: 414px) {
    .dinner_conten_iso {
        width: 100%;
        margin: 25px;
    }
}

@media only screen and (max-width: 320px) {
    .dinner_conten_iso {
        width: 100%;
        margin: 25px;
    }
}

/*==newsletter==*/

#newsletter {
    width: 100%;
    height: auto;
    padding: 50px;
    box-sizing: border-box;
    background: url('../image/letter/bg.png');
    background-size: cover;
    background-repeat: no-repeat;   
    text-align: center; 
    position: relative;
}

.form-group input {
    width: 25%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}

#news_title {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

#newsletter button {
    background: #cb9f6b !important;
    border: 1px solid #cb9f6b;
    box-shadow: 0 0 5px white;
    margin: 20px !important;
    height: 50px;
    width: 100px;
}

@media only screen and (max-width: 320px) {
    #news_title h1 {
        font-size: 25px;
    }

    .form-group input {
        width: 50%;
    }
}

@media only screen and (max-width: 375px) {
    #news_title h1 {
        font-size: 25px;
    }

    .form-group input {
        width: 50%;
    }

    .form-group input {
        width: 25%;
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 414px) {
    .form-group input {
        width: 50%;
    }
}