* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


* img {
    max-width: 100%;
    height: auto;
}


/*==HEADER==*/

.navbar {
    width: 100%;
    z-index: 1;
    height: 66px;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 0 8px 0 8px;
}

.navbar-brand, .nav-link  {
    color: white !important;
}
  
.nav-link {
    margin: 0 18px 0 18px ;
}


.nav-link:hover {
    color: #cb9f6b !important;
}

.navbar-nav {
    margin-right: 0 !important;
    margin-left: 278.969px !important;
}

.nav-item a {
    padding: 0 !important;
}

.last_ni {
    margin-right: 0 !important;
}

#header {
    width: 100%;
    height: auto;
}
.navbar {
    z-index: 999;
}

.carousel-item img {
    width: 100% !important;
    height: auto !important; 
}
.collapse {
    position: relative !important;
}

.navbar-nav {
    position: absolute !important;
    right: 0;
}

.navbar li a:hover {
    border-bottom: 1px solid #cb9f6b;
}

.navbar button {
    background: #cb9f6b;
    border: 1px solid #cb9f6b;
}

.navbar-brand {
    padding: 0 !important;
    font-size: 30px;
    margin-left: 15px;
    font-family: 'Pacifico', cursive;
}

#banner {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
}

#banner_title {
    font-size: 22px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: 'Pacifico', cursive;    
}

#banner h1 {
    font-size: 40px;
    color: #cb9f6b;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);  
}


@media only screen and (max-width: 990px) {
    .navbar-nav {
        width: 100%;
        text-align: center;
        background: rgba(0,0,0,0.8);
        margin: 7px;
        border-top: 2px solid white;
    }

    .nav-item {
        margin: 5px;
    }
}

@media only screen and (max-width: 990px) {
    #banner img {
        width: 100%;
        height: 250px;
    }

    #banner h1 {
        font-size: 40px;
        color: #cb9f6b;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

@media only screen and (max-width: 990px) {
    #banner_title {
        font-size: 18px;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-family: 'Pacifico', cursive;    
    }
    
    #banner h1 {
        font-size: 30px;
        color: #cb9f6b;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); 
    }
}

/*==CONTENT & Call Button==*/

#reservation_content {
    text-align: center;
    padding: 50px 0 30px 0;
    font-size: 20px;
}

#reservation_time span {
    color: #cb9f6b;
}

#call_btn   {
    text-align: center;
    position: relative;
    padding: 20px 0 50px 0;
}

#call_btn a {
    border: 2px solid #cb9f6b;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    color: black;
    box-shadow: 0 0 5px white;
    text-decoration: none;
}

#call_btn a:hover {
    color: white;
    background: #cb9f6b;
}

.btn {
    background: #cb9f6b;
    border: 2px solid #cb9f6b;
    border-radius: 10px;
}


/*==BOOKING==*/

#book_online {
    width: 100%;
    height: auto;
    background: url('../image/about-image/about-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 50px;
}

#book_online_tittle {
    font-size: 40px;
    font-family: 'Pacifico', cursive; 
    padding: 30px;
}

/*==ADVER==*/

#adver {
    text-align: center;
    padding: 150px;
    background: url(../image/dishes/main-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#adver_title {
    font-size: 20px;
    font-family: 'Pacifico', cursive; 
    color: white;
}

#adver_other_title {
    font-size: 30px;
    color: white;
}

/*==Hall==*/

#hall {
    width: 100%;
    height: auto;
    padding: 50px;
    box-sizing: border-box;
}

.hall_img img {
    padding: 10px;
}

#hall_title {
    font-size: 18px;
    color: #cb9f6b;
    font-family: 'Pacifico', cursive; 
}

#hall h1 {
    font-size: 30px;
    padding: 0 0 20px 0;
}

#hall_btn {
    margin-top: 20px;
}

#hall_btn a {
    border: 2px solid #cb9f6b;
    border-radius: 10px;
    padding: 5px;
    color: black;
    box-shadow: 0 0 5px #cb9f6b;
    text-decoration: none;
    font-size: 20px;
}

#hall_btn a:hover {
    color: white;
    background: #cb9f6b;
}

/*==newsletter==*/

#newsletter {
    width: 100%;
    height: auto;
    padding: 50px;
    box-sizing: border-box;
    background: url('../image/letter/bg.png');
    background-size: cover;
    background-repeat: no-repeat;   
    text-align: center;
}

#news_title {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

#newsletter button {
    background: #cb9f6b !important;
    border: 1px solid #cb9f6b;
    box-shadow: 0 0 5px white;
    margin: 20px !important;
    height: 50px;
    width: 100px;
}

@media only screen and (max-width: 320px) {
    #news_title h1 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 360px) {
    #news_title h1 {
        font-size: 25px;
    }
}