
body {
    background: url('background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}
#all {
    position: relative;
    text-align: center; 
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
#title{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color:white;
}
#title span {
    color: red;
}
#astro {
    position: absolute;
    top: -115px;
    left: -54px;
}
#astro:hover {
    transform: scale(1.3);
}
#button {
    width: 100%;
    text-align: center;
}
#button a {
    text-decoration: none;
}
.btn {
    border: 2px solid white;
    margin: 8px 15px;
    font-size: 30px;
    cursor: pointer;
    background: rgba(0,0,0,0.5);
    color: white;
}
.btn:hover {
    border: 2px solid red;
}
.spinner{
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top:3px solid #f25a41;
    border-radius: 100%;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear;
}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
#overlay{
    height:100%;
    width:100%;
    background:rgba(0, 0, 0, 1);
    position:fixed;
    left:0;
    top:0;
}

canvas {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
#infor {
    position: absolute;
    top: 31px;
    right: -24px;
}
#infor:hover {
    transform: scale(1.2);
    cursor: pointer;
}
a:link,
a:visited{
text-decoration: none;
}
.modal{
width:100%;
height: 45vh;
position: absolute;
top: 0;
left: 0;
z-index: 2;
opacity: 0;
visibility: hidden;
transition: all .5s;
}
.modal__content{
width: 100%;
height: auto;
background-color: #fff;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 2em;
border-radius: 10px;
opacity: 0;
visibility: hidden;
transition: all .5s; 
}
#modal:target{
opacity: 1;
visibility: visible;
}
#modal:target .modal__content{
opacity: 1;
visibility: visible;
}
.modal__close{
color: #363636;
font-size: 2em;
position: absolute;
top: .5em;
right: 1em;
}
.modal__heading{
color: black;
margin-bottom: 1em;
}
.modal__paragraph{
line-height: 1.5em;
}
.modal-open{
display: inline-block;
color: dodgerblue;
margin: 2em;
}
.paragraph_content {
    text-align: left;
}