<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <header class="container">
          <h1>Shopping Cart</h1>
          
          <ul class="breadcrumb">
            <li>Home</li>
            <li>Shopping Cart</li>
          </ul>
          
          <span class="count">{{productCount()}} items in the bag</span>
        </header>
      
        <section class="container">
          <ul class="products">
            <li class="row" v-for='(product, index) in products '>
              <div class="col left">
                <div class="thumbnail">
                  <a href="#">
                    <img v-bind:src = "product.image" />
                  </a>
                </div>
                <div class="detail">
                  <div class="name"><a href="#">{{product.name}}</a></div>
                  <div class="description">{{product.description}}</div>
                  <div class="price">${{product.price}}</div>
                </div>
              </div>
      
              <div class="col right">
                <div class="quantity">
                  <input type="number" class="quantity" @input="limit(index, $event)" v-bind:value='product.quantity'/>
                </div>
                
                <div class="remove" @click='remove()'> 
                  <svg version="1.1" class="close" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve"><polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812 22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812"></polygon></svg>
                </div>
              </div> 
            </li>
      
          </ul>
        </section>
      
        <section class="container">
          <div class="promotion">
            <label for="promo-code">Have A Promo Code?</label>
            <input type="text" id="promo-code" v-model="prcode"/> <button type="button" @click='checkCode()'></button>
          </div>
      
          <div class="summary">
            <ul>
              <li>Subtotal <span>${{subTotal()}}</span></li>
              <li>Tax <span>${{tax}}</span></li>
              <li class="total">Total <span>${{total()}}</span></li>
            </ul>
          </div>
      
          <div class="checkout">
            <button type="button">Check Out</button>
          </div>
        </section>
      </div>
      <script src="sc.js"></script>
</body>
</html>