.co {
	width: 1000px;
	height: 2000px;
	margin: auto;
	position: relative;
	overflow: auto;

}  
#co1 {
	width: 200px;
	background: gray;
	float: left;
	margin: 5px;
	height: 200px;
	position: absolute;
	top: 0px;
	left: 5px;
}
#co2 {
	width: 765px;
	background-color: gray;
	float: right;
	margin: 5px;
	margin-right: 5px;
}
#backtop img {
	position: fixed;
	right: 30px;
	bottom: 30px;
	cursor: pointer;
}