.tensp{
	color: red	;
}
.gia{
	color: blue ;
}
img{
	max-width: 300px;
}
body{
	background-image: url('https://d2r55xnwy6nx47.cloudfront.net/uploads/2017/11/Vela_2880Lede-2880x1620.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	bac
}
